<div class="product-box" [id]="product.id">
    <div class="product-img">
        <img [src]="product.image" [alt]="product.title" />
        <span class="product-badge">{{ product.badge }}</span>
        <div class="product-cart-btn">
            <button class="add-cart-btn">
                <i class="bx bx-shopping-bag"></i> Add to Bag
            </button>
        </div>
    </div>
    <a [routerLink]="['product-details', 1]">
        <div class="product-box-content">
            <h4 class="mb-0">
                <i class="fas fa-star text-warning"></i> {{ product.rating }} ({{ product.review }} Reviews)
            </h4>
            <h3 class="mb-0">{{ product.title }}</h3>
            <h6 class="mb-0">{{ product.subtitle }}</h6>
            <div class="product-colors-main d-flex align-items-center justify-content-center column-gap-2 mb-0">
                <div class="product-colors-div">
                    <div class="colors-round green"></div>
                    <div class="colors-round red"></div>
                    <div class="colors-round orange"></div>
                    <div class="colors-round blue"></div>
                </div>
                <span>5+ Colors</span>
            </div>
            <h5 class="mb-0">
                Rs {{ product.sp }} <span class="ms-1">Rs {{ product.mrp }}</span>
            </h5>
            <p class="mb-0">You'll save Rs 21</p>
            <button class="add-cart-btn-2 w-100">Add to Bag</button>
        </div>
    </a>
</div>