<div class="spotlight-bottom-box">
    <div class="spotlight-content">
        <h4 class="mb-2">2 Million+</h4>
        <h6 class="mb-0">Happy Customers</h6>
    </div>
</div>
<div class="spotlight-bottom-box">
    <div class="spotlight-content">
        <h4 class="mb-2">700+</h4>
        <h6 class="mb-0">Bottomwear Styles</h6>
    </div>
</div>
<div class="spotlight-bottom-box">
    <div class="spotlight-content">
        <h4 class="mb-2">60+</h4>
        <h6 class="mb-0">Colors & Prints</h6>
    </div>
</div>
<div class="spotlight-bottom-box">
    <div class="spotlight-content">
        <h4 class="mb-2">450+</h4>
        <h6 class="mb-0">Exclusive Stores</h6>
    </div>
</div>
