<div class="spotlight-head-box">
    <div class="spotlight-content-1">
        <h4 class="text-uppercase mb-0">Fashion Goals</h4>
        <h6 class="mb-0">for</h6>
        <h5 class="mb-3">Every Styles</h5>
        <button class="banner-btn">
            Shop Now <i class="fas fa-arrow-right ms-1"></i>
        </button>
    </div>
</div>
<div class="spotlight-head-box">
    <div class="spotlight-content-2">
        <h6 class="text-uppercase mb-0">The Perfect Fit</h6>
        <h4 class="text-uppercase mb-0">To Embrace</h4>
        <h5 class="mb-3">Your Curves</h5>
        <button class="banner-btn">
            Shop Now <i class="fas fa-arrow-right ms-1"></i>
        </button>
    </div>
</div>