<div class="portal-main">
    <div class="portal-div">

        <!-- Left Panel -->
        <div class="portal-left">
            <img src="assets/images/Portal/1.png" alt="Portal" />
            <h1>"Your vibe, your style Login &amp; fly now"</h1>
        </div>

        <!-- Right Panel -->
        <div class="portal-right">
            <img src="assets/images/Logo-Dark.png" alt="Logo" />
            <div class="w-100">
                <h4>Successfully logged in. Enjoy your experience</h4>
            </div>
        </div>

    </div>
</div>