<div class="home-page mb-2">
    <div class="banner-main" *ngIf="!isBannerLoading && banners.length">
        <div id="homeBannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <!-- Pagination Dots -->
            <div class="carousel-indicators">
                <button *ngFor="let banner of banners; let i = index" type="button" data-bs-target="#homeBannerCarousel"
                    [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null">
                </button>
            </div>
            <!-- Slides -->
            <div class="carousel-inner">
                <div *ngFor="let banner of banners; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img [src]="banner.web_banner_url" [alt]="banner.title" class="d-block w-100">
                </div>
            </div>
        </div>
    </div>

    <!-- Category -->
    <div class="category-main">
        <div class="category-div">
            <div class="body-head mb-4">
                <h4 class="text-center">Shop By Category</h4>
                <h6 class="text-center">
                    Find your perfect fit form our diverse collection
                </h6>
            </div>
            <!-- Category Grid -->
            <div class="category-grid" *ngIf="!isCategoryLoading">
                <app-category *ngFor="let item of category" [category]="item"></app-category>
            </div>
            <div class="category-grid" *ngIf="isCategoryLoading">
                <div class="category-box mb-4 skeleton" *ngFor="let i of [1,2,3,4,5,6]"></div>
            </div>
        </div>
    </div>

    <!-- Product Grid -->
    <div class="product-main">
        <div class="product-div">
            <div class="body-head mb-4">
                <h4 class="text-center">Best Sellers</h4>
            </div>

            <ul class="product-tabs nav nav-tabs my-4 border-0" id="productTab" role="tablist">
                <li class="nav-item mb-2" role="presentation">
                    <button class="tab-btn active" data-bs-toggle="tab" type="button" data-bs-target="#all">All</button>
                </li>
                <li class="nav-item mb-2" role="presentation">
                    <button class="tab-btn" data-bs-toggle="tab" type="button" data-bs-target="#denimjeggings">Denim
                        Jeggings</button>
                </li>
                <li class="nav-item mb-2" role="presentation">
                    <button class="tab-btn" data-bs-toggle="tab" type="button" data-bs-target="#kurtipant">Kurti
                        Pant</button>
                </li>
                <li class="nav-item mb-2" role="presentation">
                    <button class="tab-btn" data-bs-toggle="tab" type="button" data-bs-target="#yogashorts">Yoga
                        Shorts</button>
                </li>
            </ul>

            <div class="product-grid">
                <app-products *ngFor="let item of products" [product]="item"></app-products>
            </div>
        </div>
    </div>

    <!-- Spotlight -->
    <div class="spotlight-main">
        <div class="spotlight-div">
            <div class="body-head mb-5">
                <h4 class="mb-2 text-center">In the Spotlight</h4>
                <h6 class="text-center">Handpicked styles we’re loving right now.</h6>
            </div>

            <div class="spotlight-head-grid mb-4">
                <app-spotlight-head></app-spotlight-head>
            </div>

            <div class="spotlight-bottom-grid">
                <app-spotlight-bottom></app-spotlight-bottom>
            </div>
        </div>
    </div>

    <!-- Collections Grid -->
    <div class="collection-main">
        <div class="collection-div">
            <div class="body-head mb-4">
                <h4 class="text-center">Best Collections</h4>
            </div>

            <div class="collection-grid">
                <app-collection *ngFor="let item of collections" [collection]="item"></app-collection>
            </div>
        </div>
    </div>

    <!-- Reel Grid -->
    <div class="reel-main">
        <div class="reel-div">
            <div class="body-head mb-4">
                <h4 class="mb-2 text-center">Reel It, Feel It</h4>
                <h6 class="text-center">
                    From studio to street — quick looks that make a statement, captured in motion.
                </h6>
            </div>
            <div class="reel-grid" *ngIf="!isReelLoading">
                <app-reel *ngFor="let item of reels; let i = index" [reel]="item" [isActive]="i === activeReelIndex"
                    (videoEnded)="onReelEnded()"></app-reel>
            </div>
            <div class="reel-grid" *ngIf="isReelLoading">
                <div class="reel-box mb-4 skeleton" *ngFor="let i of [1,2,3,4]"></div>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <div class="testimonial-main">
        <div class="testimonial-div">
            <div class="body-head mb-4">
                <h4 class="mb-2 text-center">What Our Customers Say</h4>
                <h6 class="text-center">
                    Real stories, real comfort — hear it from the Flybirds family.
                </h6>
            </div>

            <div class="testimonial-grid">
                <app-testimonial></app-testimonial>
            </div>
        </div>
    </div>
</div>