<div class="portal-main">
    <div class="portal-div">

        <!-- Left Panel -->
        <div class="portal-left">
            <img src="assets/images/Portal/1.png" alt="Portal" />
            <h1>"Your vibe, your style Login &amp; fly now"</h1>
        </div>

        <!-- Right Panel -->
        <div class="portal-right">
            <img src="assets/images/Logo-Dark.png" alt="Logo" />
            <div>
                <h4 class="mb-3">Enter the 6 - digit OTP</h4>
                <h6 class="mb-0">We have sent you a 6 - digit OTP on your mobile number</h6>
            </div>

            <div class="w-100">
                <form action="">

                    <div class="mb-4 otp-container">
                        <input #otp0 type="text" inputmode="numeric" maxlength="1" class="form-control otp-input"
                            (input)="onInput($event, 0)" (keydown)="onKeydown($event, 0)" (paste)="onPaste($event)" />
                        <input #otp1 type="text" inputmode="numeric" maxlength="1" class="form-control otp-input"
                            (input)="onInput($event, 1)" (keydown)="onKeydown($event, 1)" />
                        <input #otp2 type="text" inputmode="numeric" maxlength="1" class="form-control otp-input"
                            (input)="onInput($event, 2)" (keydown)="onKeydown($event, 2)" />
                        <input #otp3 type="text" inputmode="numeric" maxlength="1" class="form-control otp-input"
                            (input)="onInput($event, 3)" (keydown)="onKeydown($event, 3)" />
                        <input #otp4 type="text" inputmode="numeric" maxlength="1" class="form-control otp-input"
                            (input)="onInput($event, 4)" (keydown)="onKeydown($event, 4)" />
                        <input #otp5 type="text" inputmode="numeric" maxlength="1" class="form-control otp-input"
                            (input)="onInput($event, 5)" (keydown)="onKeydown($event, 5)" />
                    </div>

                    <div *ngIf="!showResendButton">
                        <button type="button" class="login-btn w-100" (click)="verifyOtp()">
                            Verify & Continue
                        </button>
                    </div>

                </form>
            </div>

            <div *ngIf="!showResendButton">
                <h6 class="mb-0">
                    Didn't receive it? Resend in {{ formattedTime }}
                </h6>
            </div>

            <!-- Resend Button -->
            <button *ngIf="showResendButton" type="button" class="login-resend-btn w-100" (click)="resendOtp()">
                Resend OTP
            </button>
        </div>

    </div>
</div>