.profile-nav-pill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill-btn {
    background: var(--secondary);
    color: var(--text-primary);
    border: 2px solid var(--border);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: var(--fw-md);
    transition: all var(--transition);
}

.pill-btn:hover,
.pill-btn.active {
    background: linear-gradient(270deg, #E9047C 0%, #44122C 100%);
    color: var(--secondary);
    border: 2px solid transparent;
}
